@import "../../../globalStyles/scss/variables.scss";

$footer-border: 2px solid $sadboys-pink;
$footer-spacing: 25px;
.footer {
    background-color: #000;

    &__logo {
        margin: $footer-spacing auto 0;
        padding-bottom: $footer-spacing;
        width: 200px;
        border-bottom: $footer-border;

        svg {
            display: block;
            width: 100px;
            height: auto;
            margin: auto;

            .logo-path {
                fill: #fff;
            }
        }
    }

    &__favicons {
        display: flex;
        justify-content: center;
        margin: $footer-spacing 0 !important;
    }

    &__menu {
        padding: $spacer * 3 0 $spacer * 2;

        .container {
            display: flex;
            flex-wrap: wrap;

            div {
                &:not(:last-of-type) {
                    padding-right: $spacer * 3;
                }
            }
        }

        &-section {
            &-header {
                font-weight: $bold-font-weight;
                margin-bottom: $spacer;
            }

            &-content {
                p {
                    font-weight: $bold-font-weight;
                    margin-bottom: $spacer;
                    font-size: $small-font-size;
                    color: $gray;

                    a {
                        text-decoration: none;
                        color: $gray;
                    }
                }
            }
        }
    }

    &-nav {
        width: 200px;
        margin: auto;
        padding: $footer-spacing;
        border-top: $footer-border;

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        &__section {
            &-header {
                margin-bottom: $spacer;
                color: #fff;
                font-family: $base-font-family;
            }

            &-content {
                p {
                    margin-bottom: $spacer;
                    font-size: $small-font-size;
                    color: $gray;

                    a {
                        text-decoration: none;
                        color: $gray;
                    }
                }
            }
        }
    }
}
